# Godot 4
.godot/
*.translation
export.cfg
.import/
*.import
*.uid
*.tmp

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
*.swp
*~
.vscode/
.idea/

# Mega Drive / SGDK build
megadrive/out/
megadrive/src/boot/
megadrive/res/resources.h
megadrive/res/*.rs
megadrive/res/*.d
megadrive/res/*.h
